.interactiveCover {
  background: black;
  font-family: $elcubo2_font;
  /*cursor: none !important;*/
}

.fadeIn {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.steal {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.steal {
  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: zoomOut 60s infinite ;
  }

  @media only screen and (max-width: 960px) {
    img.stealDesktop {
      display: none;
    }
    img.stealMobile {
      display: block;
    }
  }

  @media only screen and (min-width: 960px) {
    img.stealMobile {
      display: none;
    }
    img.stealDesktop {
      display: block;
    }
  }

}

@keyframes zoomOut {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1.4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}