@import 'mixins';

.d-desktop {
  display: block;

  @include breakpoint-down('sm') {
    display: none;
  }
}

.d-mobile {
  display: none;

  @include breakpoint-down('sm') {
    display: block;
  }
}

.fade_test {
  transition: opacity .7s ease-in-out;
}

.fadeOut_test {
  opacity: 0;
}

.fadeIn_test {
  opacity: 1;
}


/* Season 3 */
#videoContainer .plyr__video-wrapper,
#videoContainer .plyr,
#videoContainerIntro .plyr__video-wrapper,
#videoContainerIntro .plyr {
  //height: auto !important;
  height: calc(100vh - 90px) !important;
}

#videoContainer .plyr__controls {
  display: none !important;
}