@import 'mixins';

.d-desktop {
  display: block;

  @include breakpoint-down('sm') {
    display: none;
  }
}

.d-mobile {
  display: none;

  @include breakpoint-down('sm') {
    display: block;
  }
}

.fade_test {
  transition: opacity .7s ease-in-out;
}

.fadeOut_test {
  opacity: 0;
}

.fadeIn_test {
  opacity: 1;
}


/* Season 3 */

#videoContainerIntro .plyr__video-wrapper,
#videoContainerIntro .plyr {
  @media screen and (min-width: 1024px) {
    height: calc(100vh) !important;

    video {
      min-height: calc(100vh) !important;
    }
  }
}

#videoContainer .plyr__video-wrapper,
#videoContainer .plyr {
  @media screen and (min-width: 1024px) {
    height: calc(100vh - 90px) !important;

    video {
      min-height: calc(100vh - 90px) !important;
    }
  }
}

#videoContainer .plyr__video-wrapper,
#videoContainerIntro .plyr__video-wrapper,
#videoContainer .plyr,
#videoContainerIntro .plyr {



  //height: auto !important;
  @media screen and (max-width:1024px) {
    height: auto !important;
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 0 !important;

    overflow: hidden;

    video {
      top: 50%;
      left: 50%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }

  }




}

#videoContainer .plyr__controls {
  display: none !important;
}