.Characters {
  position: absolute;
  z-index: 10;
  //right: 158px;
  //bottom: 130px;
  width: 280px;

  @media screen and (max-width: 1024px) and (orientation:landscape) {
    top: 40px;
    right: 100px;
    bottom: auto;
  }

  .row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 4px;

    .column1 {
      width: 100%;
      display: flex;
      padding: 0;
      gap: 10px;

      div.avatar {
        width: 50%;

        img {
          border: 6px solid #EDC25F;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        a {
          color: #EDC25F;
          font-family: $elcubo3_font_subtitle;
          text-decoration: none;
          position: relative;

          &:hover {
            color: white;

            svg path {
              stroke: white;
            }
          }


          font-weight: 300;
          text-transform: uppercase;
          font-size: 14px;
          text-align: right;
          padding-right: 17px;
          margin-block-end: 0;
          padding-top: 0px;
          float: right;


          svg {
            position: absolute;
            top: 7px !important;
            right: 0;

            path {
              stroke: #EDC25F;
              transform: (scale(.5));
            }
          }
        }
      }

      div.progress {
        width: 50%;
        margin-top: 6px;
      }
    }

  }
}

.Content.Char-guillermo .rowGuillermo,
.Content.Char-juan .rowJuan,
.Content.Char-yenny .rowYenny,
.Content.Char-diego .rowDiego,
.Content.Char-soledad .rowSoledad {
  .column1 {
    a {
      h2 {
        color: white;
      }

      svg {
        display: none;
      }
    }

    .progress {
      div {
        background: white;

        div {
          background: #010100;
          border: 1px solid white;
        }
      }
    }
  }
}

.rowJuan {
  .progress div {
    margin-right: -5px;
    float: right;
    width: 100%;
  }
}

.rowGuillermo {
  .progress div {
    margin-right: -10px;
    float: right;
    width: 100%;
  }
}

.rowYenny {
  .progress div {
    margin-right: -58px;
    float: right;
    width: 100%;
  }
}

.rowDiego {
  .progress div {
    margin-right: -65px;
    float: right;
    width: 100%;
  }
}

.rowSoledad {
  .progress {
    div {
      margin-right: 0px;
      float: right;
      width: 100%;
    }
  }
}

.timeline {
  position: relative;

  .line {
    height: 155px;
    width: 1px;
    background: #FF6D4D;
    position: absolute;
    top: -160px;
    right: 35px;
  }

  p {
    color: #FF6D4D;
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    text-align: center;
    margin-right: -200px;
    line-height: 1.2;
  }
}


a.buttonInfo {
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  color: #E2B857;
  border: 1px solid #E2B857;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  float: right;
  margin: 0px 0;
  background: #402A04;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: #8D2213;
  }
}

a.buttonInfoInactive {
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  color: #E2B857;
  border: 1px solid #E2B857;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  float: right;
  margin: 0px 0;
  background: #402A04;
  text-decoration: none;
  opacity: .2;
  cursor: default;
}



.Content.Char-all {

  .Characters {
    right: auto;
    left: 60px;
    bottom: 60px;

    .column1 {
      margin-bottom: 4px;

      div.avatar {
        a {
          margin-top: 2px;

          svg {
            top: 3px !important;
          }
        }
      }
    }


    @media (max-width: 900px) {
      right: auto;
      left: 20px;
      bottom: 0px;
      width: 175px;

      .timeline {
        position: relative;

        .line {
          height: 155px;
          width: 1px;
          background: #FF6D4D;
          position: absolute;
          top: -160px;
          right: 12px;
        }

        p {
          color: #FF6D4D;
          font-family: $elcubo3_font_subtitle;
          font-weight: 300;
          text-align: center;
          margin-right: -23px;
        }
      }


      div.avatar {
        width: 65%;
      }

      div.progress {
        width: 35%;
      }

      .rowGuillermo {
        .progress div {
          margin-right: -10px;
        }
      }

      .rowYenny {
        .progress div {
          margin-right: -26px;
        }
      }

      .rowDiego {
        .progress div {
          margin-right: -32px;
        }
      }


    }

    @media (max-width: 1024px) and (orientation:landscape) {
      bottom: auto;
      top: 240px;
    }

    @media (max-width: 900px) and (orientation:portrait) {
      bottom: 20px;
    }

  }
}




.Info {
  float: right;
  width: 80%;
  margin: 20px 0;
  animation: pulse 2s infinite 3s cubic-bezier(0.5, 0, 0, 1);
  box-shadow: 0 0 0 0 rgb(99, 81, 8);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
}