.TimelineContainer {
  position: relative;
  width: 100vw;
  height: 525rem;
  padding: 0 0 0 0;
  background-color: #e4d7b7;
  background-attachment: fixed;
  background-size: cover;

  @media only screen and (max-width: 768px) {
    height: 830vh;
  }
}

.Timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e4d7b7;
}

.Timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: calc(100vh + 430rem);
  margin-left: 0;
  margin-top: 15rem;
  margin-bottom: 15rem;
  background: #3C2807;
  z-index: 1;
  
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .Clows {
    display: none!important;
  }
}

.ItemContent {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  width: 100%;
  align-items: end;
  height: 80vh;

  @media only screen and (max-width: 768px) {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    width: 100%;
    align-items: end;
  }

  .TextContent {
    .Title {
      color: #3C2807;
      font-weight: bold;
      margin: 0;
      padding: 0;
      font-size: 50px;
      letter-spacing: -3px;
      line-height: 130%;
      font-size: 70px;
      font-family: $elcubo3_font_subtitle;
    }
    .Subtitle {
      color: #3C2807;
      font-weight: bold;
      margin: 0;
      font-size: 31px;
      font-family: $elcubo3_font_subtitle;
    }
    .Description {
      color: #3C2807;
      font-size: 20px;
      max-width: 600px;
      letter-spacing: 0px;
      line-height: 130%;
      width: 100%;
      font-family: $elcubo3_font_subtitle;
    }
  }

  .LinkItem {
    position: relative;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    a {
      align-items: center;
      text-decoration: none;
    
      @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
    span {
      font-size: 13.5px;
      font-weight: normal;
    }
  }

  .Link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}


.ItemContent:nth-child(1) {
  
  .SitePicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    @media only screen and (max-width: 768px) {
      width: 125%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 440px;
    padding-bottom: 35px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 100px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

.ItemContent:nth-child(2) {

  .Clows {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100vw;
    height: 50%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;

    @media only screen and (max-width: 768px) {
      width: 130%;
      top: 0;
    }
  }
  
  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    padding-top: 440px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-left: 10px;
      text-align: left;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

.ItemContent:nth-child(3) {
  @media only screen and (max-width: 768px) {
    height: 90vh!important;
  }

  .Clows {
    position: absolute;
    top: -560px;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -125px;
    left: 0;
    width: 100vw;

    @media only screen and (max-width: 768px) {
      top: -100;
      width: 150%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    margin: 0 60px 0 60px;
    
    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }
  } 

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  } 

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 25px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}

.ItemContent:nth-child(4) {

  .Clows {
    position: absolute;
    top: 175px;
    left: 0;
    height: 52vh;
    width: 100%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -225px;
    right: 0;
    width: 75vw;
    
    @media only screen and (max-width: 768px) {
      width: 140vw;
      top: -222px;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 800px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }
    
    .LinkItem:nth-child(1) {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(2) {
      p {
        margin-left: 10px;
      }
      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    .LinkItem:nth-child(3) {
      p {
        margin-left: 10px;
      }
      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    .LinkItem:nth-child(4) {
      p {
        margin-left: 15px;
      }
      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

.ItemContent:nth-child(5) {

  .Clows {
    position: absolute;
    top: 315px;
    left: 0;
    width: 100vw;
    z-index: 0;
    height: 50vh;
  }

  .SitePicture {
    position: absolute;
    top: -200px;
    left: 0;
    width: 70vw;

    @media only screen and (max-width: 768px) {
      top: -180px;
      width: 140%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 800px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }
  } 

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 10px 25px;
    margin-bottom: 25px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}

.ItemContent:nth-child(6) {

  .SitePicture {
    position: absolute;
    top: -170px;
    right: 0;
    width: 90vw;

    @media only screen and (max-width: 768px) {
      width: 155vw;
      top: -70;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 1000px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

.ItemContent:nth-child(7) {

  .Clows {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100vw;
    height: 40vh;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -135px;
    left: 0;
    width: 65vw;

    @media only screen and (max-width: 768px) {
      top: -165px;
      width: 155%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 1100px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }
  } 

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 310px;
    width: 100%;
    min-height: 140px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 25px;

    .Link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 11px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 0px;
        margin-left: 12px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}

.ItemContent:nth-child(8) {

  .SitePicture {
    position: absolute;
    top: -55px;
    right: 0;
    width: 60vw;

    @media only screen and (max-width: 768px) {
      width: 120%;
      top: 0;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    padding-top: 1300px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;
      
      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}

.ItemContent:nth-child(9) {
  @media only screen and (max-width: 768px) {
    height: 65vh!important;
  }

  .Clows {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 70vh;
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 1500px;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }
  } 

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 490px;
    width: 100%;
    min-height: 140px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 10px 25px;
    margin-bottom: 25px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;
      padding: 10px;

      .LinkText {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

  }
}

.ItemContent:nth-child(10) {
  @media only screen and (max-width: 768px) {
    height: 50vh!important;
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    padding-bottom: 340px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0 0 100px 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px!important;
      }
      .Subtitle {
        font-size: 22px;
      }
      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 400px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .Link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;
    
      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }
        span {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }
  }

}

.ItemContent:nth-child(11) {
  display: flex;
  width: 100%;
  flex-direction: column;

  .SitePicture {
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
      width: 130%;
      top: 0;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    width: 100%;
    flex-direction: column;
  }

  .VideoContainer {
    display: flex;
    width: 80%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  
    @media only screen and (max-width: 768px) {
      display: flex;
      position: relative;
      left: 0px;
      right: 0px;
      width: 80%;
      height: 230px;
    }
  }

  .Ver360Content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    color: #ffffff;
    
    h1 {
      font-size: 45px;
      font-family: $elcubo3_font_title;
    }
    p {
      font-size: 25px;
      font-weight: 100;
      font-family: $elcubo3_font_subtitle;
      max-width: 765px;
      line-height: 130%;
      letter-spacing: 0;  
      margin: 15px 0 40px 0;
    }
    
    .Compartir {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
  
      p,a {
        margin: 20px 20px;
      }

      @media only screen and (max-width: 768px) {
        p,a {
          margin: 20px 15px;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      padding-top: 60px;

      h1 {
        font-size: 25px;
        max-width: 400px;
      }
      p {
        font-size: 20px;
        max-width: 400px;
      }
    }
  }
}

.NoHeight {
  height: unset!important;
}


