.TimelineContainer {
  position: relative;
  width: 100vw;
  padding: 0 0 0 0;
  background-color: #e4d7b7;
  background-attachment: fixed;
  background-size: cover;
}


.ColumnsContainer {
  display: flex;
  position: relative;
  padding-bottom: 35px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.Timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e4d7b7;
}

.Timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: calc(1100vh);
  margin-left: 0;
  margin-top: 15rem;
  margin-bottom: 15rem;
  background: #3C2807;
  opacity: 0.2;
  z-index: 1;

  @media only screen and (max-width: 680px) {
    display: none;
  }

  @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
    margin-top: 7.5rem;
    height: calc(100vh + 200rem);
  }
}

@media only screen and (max-width: 680px) {
  .Clows {
    display: none !important;
  }
}

.ItemContent {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  min-height: 100vh;

  @media only screen and (max-width: 680px) {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 80vh;
  }

  @media only screen and (max-width: 680px) and (orientation: landscape) {
    min-height: 150vh;
  }

  @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
    height: auto;

    .columnText,
    .columnLink {
      margin: 0 30px 0 30px !important;
    }

    .Clows {
      display: none !important;
    }
  }

  .TextContent {
    .Title {
      color: #3C2807;
      font-weight: bold;
      margin: 0;
      padding: 0;
      font-size: 50px;
      letter-spacing: -3px;
      line-height: 130%;
      font-size: 70px;
      font-family: $elcubo3_font_subtitle;
    }

    .Subtitle {
      color: #3C2807;
      font-weight: bold;
      margin: 0;
      font-size: 31px;
      font-family: $elcubo3_font_title;
    }

    .Description {
      color: #3C2807;
      font-size: 20px;
      max-width: 600px;
      letter-spacing: 0px;
      line-height: 130%;
      width: 100%;
      margin-bottom: 0;
      font-family: $elcubo3_font_subtitle;
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      .Title {
        font-size: 45px !important;
      }

      .Subtitle {
        font-size: 20px;
      }

      .Description {
        font-size: 13px;
      }
    }
  }

  .LinkItem {
    position: relative;
    cursor: pointer;

    @media only screen and (max-width: 680px) {
      width: 100%;
    }

    a {
      align-items: center;
      text-decoration: none;

      @media only screen and (max-width: 680px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    span {
      font-size: 13.5px;
      font-weight: normal;
    }
  }

  .Link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}


.ItemContent:nth-child(1) {
  .SitePicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    @media only screen and (max-width: 680px) {
      width: 125%;
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      width: 90% !important;
    }
  }

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .ColumnsContainer {
    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      padding: 0 0 80px 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 100px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      min-height: 150px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }

  }
}

.ItemContent:nth-child(2) {

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .Clows {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100vw;
    height: 50%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;

    @media only screen and (max-width: 680px) {
      width: 140%;
      top: -100px;
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      top: -55px;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding: 0 0 50px 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      padding-bottom: 40px;
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-left: 10px;
      text-align: left;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      min-height: 50px;
      margin-bottom: 50px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(3) {
  @media only screen and (max-width: 680px) {
    height: auto !important;
  }

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .Clows {
    position: absolute;
    top: -560px;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -125px;
    left: 0;
    width: 100vw;

    @media only screen and (max-width: 680px) {
      top: -70px;
      width: 130%;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      top: -120px;
      width: 100%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 150px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(4) {

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .Clows {
    position: absolute;
    top: 175px;
    left: 0;
    height: 52vh;
    width: 100%;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -225px;
    right: 0;
    width: 75vw;

    @media only screen and (max-width: 680px) {
      width: 140%;
      top: -200px;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      top: -54px;
      right: 0;
      width: 60%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem:nth-child(1) {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(2) {
      p {
        margin-left: 10px;
      }

      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    .LinkItem:nth-child(3) {
      p {
        margin-left: 10px;
      }

      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    .LinkItem:nth-child(4) {
      p {
        margin-left: 15px;
      }

      span {
        font-size: 13.5px;
        font-weight: normal;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 150px;

      .LinkItem {
        p {
          margin-top: 4px;
        }
      }

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(5) {

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .Clows {
    position: absolute;
    top: 315px;
    left: 0;
    width: 100vw;
    z-index: 0;
    height: 50vh;
  }

  .SitePicture {
    position: absolute;
    top: -200px;
    left: 0;
    width: 70vw;

    @media only screen and (max-width: 680px) {
      top: -180px;
      width: 140%;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      top: -100px;
      width: 60%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      margin: 15px 0 0 0;
      ;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      padding-bottom: 25px;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      padding-bottom: 80px;
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 195px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 10px 25px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 150px;

      .LinkItem {
        p {
          margin-top: 4px;
        }
      }

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(6) {

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  @media only screen and (max-width: 680px) {
    min-height: 100vh;
  }

  .SitePicture {
    position: absolute;
    top: -100px;
    right: 0;
    width: 90vw;

    @media only screen and (max-width: 680px) {
      width: 155%;
      top: -100px;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      top: -70px;
      width: 80%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      padding-bottom: 80px;
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 150px;

      .LinkItem {
        p {
          margin-top: 4px;
        }
      }

      .LinkText {
        font-size: 12px !important;
      }

      .LinkItem {
        span {
          font-size: 11.5px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(7) {


  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .Clows {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100vw;
    height: 40vh;
    z-index: 0;
  }

  .SitePicture {
    position: absolute;
    top: -135px;
    left: 0;
    width: 65vw;

    @media only screen and (max-width: 680px) {
      top: -95px;
      width: 125%;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 310px;
    width: 100%;
    min-height: 140px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;

    .Link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 11px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 0px;
        margin-left: 12px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 110px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(8) {

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .SitePicture {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;

    @media only screen and (max-width: 680px) {
      width: 120%;
      top: -25px;
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      top: -10px;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 495px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 120px;


      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(9) {
  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
    min-height: 100vh !important;
  }

  .Clows {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 70vh;
  }

  .SitePicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;

    @media only screen and (max-width: 680px) {
      width: 125%;
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      width: 90% !important;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: left;
    z-index: 1;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 490px;
    width: 100%;
    min-height: 140px;
    height: auto;
    text-align: right;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 10px 25px;

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      padding: 10px;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
      }
    }

    .LinkItem:nth-child(1) {
      p {
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 35px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0px 30px;
      max-width: 100%;
      padding: 10px;

      .LinkText {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
        }

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 150px;

      .LinkItem {
        p {
          margin-top: 4px;
        }
      }

      .LinkText {
        font-size: 12px !important;
      }

      .LinkItem {
        span {
          font-size: 11.5px !important;
        }
      }
    }
  }
}

.ItemContent:nth-child(10) {
  align-items: center;
  -webkit-align-items: center;

  @media only screen and (max-width: 680px) and (orientation: portrait) {
    min-height: 120vh;
  }

  .SitePicture {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: auto;

    @media only screen and (max-width: 680px) {
      width: 125%;
    }

    @media only screen and (min-width: 681px) and (max-width: 900px) and (orientation: landscape) {
      width: 90% !important;
    }
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding: 0 0 100px 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 400px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    background-color: #F1E7CE;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .Link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_subtitle;
      font-weight: bold;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
        text-transform: uppercase;
      }
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 40px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }

}

.ItemContent:nth-child(11) {
  align-items: center;
  -webkit-align-items: center;

  @media only screen and (max-width: 680px) {
    min-height: 50vh !important;
  }

  .ColumnsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    width: 100%;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      padding: 0 0 100px 0;
    }
  }

  .columnLink {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0 0 0;
    }
  }

  .columnText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 60px 0 60px;

    @media only screen and (max-width: 680px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px;
    }
  }

  .TextContent {
    max-width: 600px;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 680px) {
      margin: 0 30px;
      max-width: 100%;
      text-align: left;
      z-index: 1;

      .Title {
        font-size: 50px !important;
      }

      .Subtitle {
        font-size: 22px;
      }

      .Description {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }

  .LinksContent {
    max-width: 450px;
    width: 100%;
    min-height: 45px;
    height: auto;
    text-align: left;
    color: #3C2807;
    opacity: 0.8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .Link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .LinkText {
      margin-right: 10px;
      color: #3C2807;
      font-family: $elcubo3_font_title;
      font-weight: bold;
      font-size: 12px;
      width: 100%;
    }

    .LinkItem {
      p {
        margin-left: 15px;
        text-transform: uppercase;
      }

      img {
        width: 100px;

        &:hover {
          opacity: .7;
        }
      }

      svg {
        position: absolute;
        top: 12px;
        left: 33%;
        transform: scale(.5);
      }


    }

    @media only screen and (max-width: 680px) {
      display: flex;
      width: 100%;
      min-height: 50px;
      align-items: flex-start;
      height: auto;
      text-align: start;
      justify-content: center;
      margin: 0 30px;
      max-width: 100%;

      .LinkText {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .LinkItem {
        a {
          align-items: center;
          text-decoration: none;
          flex-direction: row-reverse;
        }

        span {
          font-size: 13px;
          font-weight: normal;
        }
      }

      .LinkItem:nth-child(1) {
        p {
          text-transform: uppercase;
        }
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      min-height: 40px;

      .LinkText {
        font-size: 13px !important;
      }

      .LinkItem {
        span {
          font-size: 12px !important;
        }
      }
    }
  }

}

.EndContent {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;

  .SitePicture {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;

    @media only screen and (max-width: 680px) {
      width: 130%;
    }

    @media only screen and (max-width: 680px) {
      display: flex;
      position: absolute;
      left: 0px;
      right: 0px;
      width: 100%;
      height: auto;
    }
  }

  .VideoPicture {
    position: relative;
    z-index: 2;
    width: 75%;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
  }

  .VideoPicture:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 50px rgba(255, 233, 123, 0.25));
  }

  .Ver360Content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #ffffff;

    h1 {
      font-size: 45px;
      font-family: $elcubo3_font_title;
      font-weight: 300;
      margin-top: 100px;
    }

    p {
      font-size: 25px;
      font-weight: 100;
      font-family: $elcubo3_font_subtitle;
      max-width: 765px;
      line-height: 130%;
      letter-spacing: 0;
      margin: 15px 0 80px 0;
    }

    .Compartir {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 60px 0 140px 0;

      p,
      a {
        margin: 20px 20px;
      }

      @media only screen and (max-width: 680px) {

        p,
        a {
          margin: 20px 15px;
        }
      }

      @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {

        p,
        a {
          margin: 20px 15px;
        }
      }
    }

    @media only screen and (max-width: 900px) {
      padding-top: 60px;

      .Compartir {
        p {
          color: white;
        }
      }

      h1 {
        font-size: 25px;
        max-width: 400px;
        color: #3C2807;
      }

      p {
        font-size: 20px;
        max-width: 400px;
        padding-left: 25px;
        padding-right: 25px;
        color: #3C2807;
      }
    }

    @media only screen and (min-width: 681px) and (max-width: 855px) and (orientation: landscape) {
      h1 {
        font-size: 35px;
        max-width: 35rem;
      }

      p {
        font-size: 20px;
        max-width: 37rem;
      }
    }
  }
}

.NoHeight {
  height: auto !important;
}

.fullScreenVideo {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.Back {
  position: fixed;
  z-index: 2;
  left: 60px;
  top: 60px;
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
  border-radius: 20px;
  color: white;
  cursor: pointer;

  svg {
    position: absolute;
    top: -1px;
    left: 8px;
  }

  span {
    float: left;
    padding-top: 0px;
    padding-left: 40px;
  }
}

.Avatar {
  position: relative;
}