.TriviaCover {
  width: 100%;
  height: 100%vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  .Trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
  }
  h1 {
    font-weight: 500;
  }
}
