.PopupContainer{

  

  

/*   top: 320px;  //1
  left: 790px; */

/*   top: 512px;  //2
  left: 886px; */

/* top: 655px;  //3
  left: 1050px; */

/*   top: 865px;  //4
  left: 1075px; */

/*   top: 95px;  //5
  left: 1420px; */

  .Popup {
    width: 80px;
  }

}

