container_commands:
  01_ajustar_radio_nginx:
    command: "cat .ebextensions/00000_elastic_beanstalk_proxy.txt > /etc/nginx/conf.d/01_rad_proxy.conf"
  02_ajustar_entornoElastic_nginx:
    command: "cat .ebextensions/00_elastic_beanstalk_proxy.txt > /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
  03_sed_nginx:
    command: "sed '/main;/a rewrite ^/(.*)/$ /$1 permanent;' .ebextensions/00_elastic_beanstalk_proxy.txt > /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"