.interactiveCover {
  position: absolute;
  bottom: 120px;
  width: 100%;
  opacity: 0;
  -webkit-animation: fading ease-in 1s;
  animation: fading ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  .interactiveContent {
    width: calc(100vw - 180px);
    margin: auto;
    position: relative;
  }

  .marker {
    position: absolute;
    height: 30px;
    width: 2px;
    background: white;
    margin-left: 48px;
    margin-top: 110px;
    left: 27px;
    top: 0;
  }

  .Line {
    width: 100%;
    background: #C4C4C4;
    height: 1px;
    display: flex;
    flex-grow: 1;
    margin-top: 140px;
    opacity: .7;
  }

}

.trigger {

  cursor: pointer;

  .InteractiveTitle {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 16px;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 140px;
  }

  svg {
    position: relative;
    z-index: 100;
    margin: 38px;

    &:hover {
      circle {
        fill: white;
      }
    }
  }
}

.buttonTrigger {
  position: absolute;
  margin-left: -75px;
  top: -140px;
}


@-webkit-keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gallerySwiper {
  width: 700px;
  height: 440px;

  @media (max-width: 1024px) {
    margin-top: 40px;
    width: 360px;
    height: 240px;
  }


  div {
    border-radius: 10px;
  }

  img {
    height: 100%;
    margin-left: -40px;
  }
}

.ContainerContent {
  display: flex;
  align-items: center;
  justify-content: center;

  .Content {
    display: flex;
    position: relative;
    padding: 22vh 80px;

    @media (max-width: 1024px) {
      padding: 60px;
    }

    .Column:nth-child(1) {
      width: 30%;

      @media (max-width: 1024px) {
        width: 40%;

        h2 {
          font-size: 34px !important;
        }

        p {
          font-size: 16px !important;
        }
      }

      h2 {
        font-family: $elcubo3_font_title;
        font-weight: 400;
        //text-transform: uppercase;
        font-size: 44px;
      }

      p {
        font-family: $elcubo3_font_subtitle;
        font-weight: 300;
        font-size: 22px;
      }
    }

    .Column:nth-child(2) {
      width: 70%;

      @media (max-width: 1024px) {
        width: 60%;
      }
    }
  }
}



.OpenZoom {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.Description {
  position: absolute;
  bottom: 0;
  padding: 60px 30px 20px 30px;
  margin-bottom: 0;
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  font-size: 18px;
  /* gradient */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.332812) 42.71%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: luminosity;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}