.interactiveCover {
  position: absolute;
  bottom: 100px;
}

.trigger {
  font-size: 18px;
  font-style: italic;
  font-family: $elcubo2_font;
}

.gallerySwiper {
  width: 700px;
  height: 440px;

  div {
    border-radius: 10px;
  }

  img {
    height: 100%;
    margin-left: -40px;
  }
}

.ContainerContent {
  display: flex;
  align-items: center;
  justify-content: center;

  .Content {
    display: flex;
    position: relative;
    padding: 22vh 80px;

    .Column:nth-child(1) {
      width: 30%;

      h2 {
        font-family: $elcubo3_font_title;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 34px;
      }

      p {
        font-family: $elcubo3_font_subtitle;
        font-weight: 300;
        font-size: 18px;
      }
    }

    .Column:nth-child(2) {
      width: 70%;
    }
  }
}



.OpenZoom {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}