.DashboardPageContainer {
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  .Content {
    padding: 20px 0px 20px 80px;
    width: 480px;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  h2 {
    font-family: $elcubo3_font_title;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  p {
    font-family: $elcubo3_font_subtitle;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
  }
}

.Characters {
  margin-top: 40px;
  .row {
    display: flex;
    gap: 10px;
    align-items: center;
    h2 {
      font-weight: 400;
    }
    
    .column1 {
      width: 60%;
      display: flex;
      padding: 20px;
      gap: 10px;
      div.avatar {
        width: 40px;
      }
      div.name {
        width: 120px;
        h6 {
          margin: 0;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 300;
        }
        a {
          font-family: $elcubo3_font_subtitle;
          color:#E2B857;
          text-decoration: none;
          font-size: 14px;
        }
      }
      div.progress {
        width: 80px;
        margin-top: 15px;
      }
    }
    .column2 {
      width: 40%;
      .buttonConfesionario {
        font-family: $elcubo3_font_subtitle;
        font-weight: 300;
        color:#E2B857;
        border: 1px solid #E2B857;
        width: 100%;
        float: left;
        font-size: 14px;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
      }

      .buttonConfesionarioInactive {
        font-family: $elcubo3_font_subtitle;
        font-weight: 300;
        color:#E2B857;
        border: 1px solid #E2B857;
        width: 100%;
        float: left;
        font-size: 14px;
        padding: 10px 0;
        text-align: center;
        opacity: .2;
        cursor: default;
      }
    }
  }
}

.Info {
  width: 100%;
  margin-top: 10px;
  a {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    color:#E2B857;
    border: 1px solid #E2B857;
    font-size: 14px;
    padding: 10px;
    width: 31%;
    text-align: center;
    float: right;
    margin: 10px 0;
    background: #402A04;
    cursor: pointer;
    text-decoration: none;
  }

  a.buttonInfoInactive {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    color:#E2B857;
    border: 1px solid #E2B857;
    font-size: 14px;
    padding: 10px;
    width: 31%;
    text-align: center;
    float: right;
    margin: 10px 0;
    background: #402A04;
    text-decoration: none;
    opacity: .2;
    cursor: default;
  }
}


.coverBG {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}

.imgCover {
  object-fit: cover;
  width: 100%;
}

.ContainerCharacter {
  position: absolute;
  width: 460px;
  right: 38%;
  top: 40%;
  z-index: 2;
  display: flex;
  gap: 0px;
  text-align: left;
  h2 {
    font-family: $elcubo3_font_title;
    font-size: 30px;
    font-weight: 300;
    margin: 16px 0 0px 0;
  }
  p {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
  }
  a {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #402A04;
    background: #E2B857;
    padding: 15px 40px 15px 16px;
    position: relative;
    float: left;
    svg {
      position: absolute;
      top: 12px;
      right: 5px;
    }
  }
  .column:nth-child(1) {
    width: 40%;
    img {
      width: 97%;
    }
  }
  .column:nth-child(2) {
    width: 60%;
  }
}


a.video360 {
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #402A04;
  background: #E2B857;
  padding: 15px 40px 15px 16px;
  position: relative;
  float: left;
  cursor: pointer;
  svg {
    position: absolute;
    top: 12px;
    right: 5px;
  }
}

.juan {
  left: 56%;
  top: 50%;
}

.yenny {
  left: 59%;
  top: 2%;
  flex-direction: row-reverse;
  .column:nth-child(2) {
    width: 45%;
  }
}

.diego {
  right: 18%;
}

.guillermo {
  right: 11%;
  top: 70%;
}

.soledad {
  left: 42%;
  top: 20%;
}

.Content.Char-juan {
  .rowJuan {
    .column1 {
      background: rgba(64, 56, 4, .7);
    }
  }
}

.Content.Char-guillermo {
  .rowGuillermo {
    .column1 {
      background: rgba(64, 56, 4, .7);
    }
  }
}

.Content.Char-yenny {
  .rowYenny {
    .column1 {
      background: rgba(64, 56, 4, .7);
    }
  }
}

.Content.Char-diego {
  .rowDiego {
    .column1 {
      background: rgba(64, 56, 4, .7);
    }
  }
}

.Content.Char-soledad {
  .rowSoledad {
    .column1 {
      background: rgba(64, 56, 4, .7);
    }
  }
}
