.DashboardPageContainer {
  //background-color: rgba(0, 0, 0, 0.7);
  //font-family: $elcubo2_font;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  .Content {
    padding: 20px 0px 20px 80px;
    width: 440px;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  h2 {
    font-family: $elcubo3_font_title;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  p {
    font-family: $elcubo3_font_subtitle;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
  }
}

.Characters {
  margin-top: 40px;
  .row {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      font-weight: 400;
    }
    .column1 {
      width: 60%;
      display: flex;
      padding: 20px;
      div.avatar {
        width: 40px;
      }
      div.name {
        width: 100px;
      }
      div.progress {
        width: 100px;
      }
    }
    .column2 {
      width: 40%;
    }
  }
}


.coverBG {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}

.imgCover {
  object-fit: cover;
  width: 100%;
}

.ContainerCharacter {
  position: absolute;
  width: 460px;
  right: 38%;
  top: 40%;
  z-index: 2;
  display: flex;
  gap: 0px;
  text-align: left;
  h2 {
    font-family: $elcubo3_font_title;
    font-size: 30px;
    font-weight: 300;
    margin: 16px 0 0px 0;
  }
  p {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
  }
  a {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #402A04;
    background: #E2B857;
    padding: 15px 40px 15px 16px;
    position: relative;
    float: left;
    svg {
      position: absolute;
      top: 12px;
      right: 5px;
    }
  }
  .column:nth-child(1) {
    width: 40%;
    img {
      width: 97%;
    }
  }
  .column:nth-child(2) {
    width: 60%;
  }
}


a.video360 {
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #402A04;
  background: #E2B857;
  padding: 15px 40px 15px 16px;
  position: relative;
  float: left;
  cursor: pointer;
  svg {
    position: absolute;
    top: 12px;
    right: 5px;
  }
}

.juandejesus {
  left: 56%;
  top: 50%;
}

.jenny {
  left: 60%;
  top: 2%;
  flex-direction: row-reverse;
}

.diego {
  right: 25%;
}

.guillermo {
  right: 12%;
  top: 70%;
}

.soledad {
  left: 36%;
  top: 20%;
}
