.containerCover {
  width: 100%;
  height: calc(100vh);
  overflow-x: hidden;
  display: flex;
  font-family: $elcubo3_font_title;
  position: absolute;
  z-index: 100;
}

.containerCover .container {
  max-width: 35%;
  background: #6B5F43;
  position: absolute;
  right: 0;
  z-index: 100;
  height: calc(100vh);
  overflow: hidden;
  width: 100%;
  transition: 0.8s all ease;

  @media screen and (max-width: 960px) {
    max-width: 100%;
  }
}

.containerCover.open .container {
  right: 0;
}

.child {
  width: 100%;
  position: relative;
}


.containerCover.open .t_close {
  display: flex;
}

.t_close {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  height: 30px;
  width: 30px;
  left: 25px;
  top: 25px;
  padding: 0;
  margin: 0;
  transform: rotate(45deg);
  cursor: pointer;
}

.coverBG {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
}

/*
.imgCover {
  object-fit: cover;
  height: 48vh;
  width: 100%;
  overflow: hidden;

  img {
    width: 100vw;
  }
}*/

.coverImg {
  position: absolute;

  .imgCover {
    height: auto;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.ContainerCharacter {
  height: 100vh;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  //mix-blend-mode: luminosity;
}







@media only screen and (max-width: 960px) and (orientation : landscape) {

  .coverImg {
    position: absolute;

    .imgCover {
      height: auto;
      object-fit: cover;

      img {
        width: 100%;
        height: auto;
      }
    }

  }

  .ContainerCharacter {
    height: 100vh;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);

  }

  .t_close {
    right: 30px;
    left: auto;
  }
}


.ContainerCharacter {
  z-index: 2;
  position: relative;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: $elcubo3_font_title;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  p {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;

    strong {
      font-size: 18px;
    }

    span {
      width: 100%;
      clear: both;
      float: left;
    }

    p {
      margin-top: 10px;
      float: left;
    }

  }

  a {
    font-family: $elcubo3_font_subtitle;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #402A04;
    background: #E2B857;
    padding: 15px 40px 15px 16px;
    position: relative;
    float: left;

    svg {
      position: absolute;
      top: 18px;
      right: 15px;

      path {
        stroke: #402A04;
      }
    }

    &:hover {
      color: white;
      background: #8D2213;

      svg path {
        stroke: white;
      }
    }

    &:focus {
      color: white;
      background: #261901;

      svg path {
        stroke: white;
      }
    }


  }

}

.t_close {
  padding: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
}

.t_close:after,
.t_close:before {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 3px;

  &:hover {
    background-color: #E2B857;
  }

}

.t_close:after {
  width: 1px;
  height: 20px;
}

.t_close:before {
  width: 20px;
  height: 1px;
}


.coverImg img {
  display: none;
}

.coverImg.juan img:nth-child(1) {
  display: block;
}

.coverImg.guillermo img:nth-child(2) {
  display: block;
}

.coverImg.yenny img:nth-child(3) {
  display: block;
}

.coverImg.diego img:nth-child(4) {
  display: block;
}

.coverImg.soledad img:nth-child(5) {
  display: block;
}