.PersonajesSlide.open {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100vh;
  z-index: 11;
  position: fixed;
}

.PersonajesSlide .Slide {
  transition: all .4s ease;
  visibility: visible;
  position: relative;
  z-index: 100;
  right: -100%;
}

.PersonajesSlide.open .Slide {
  //opacity: 0;
  //transition: opacity 1s ease;
  //visibility: hidden;
  position: relative;
  z-index: 100;
  right: 0;
}

.CharactersCover {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  animation-delay: 1s;
}




.VideoOverlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 10;
  animation-delay: 147000ms;
  //-webkit-animation: fadeOut 2s;
  //animation: fadeOut 2s;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.HelpIcon {
  position: absolute;
  top: 80px;
  left: 280px;
  cursor: pointer;
  z-index: 10;

  @media (max-width: 920px) {
    left: 160px;
    top: 25px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.LogoSeason {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 160px;

  img {
    width: 100%;
  }

  @media (max-width: 992px) {
    left: 30px;
    top: 25px;
    width: 110px;
  }
}

.MapContainer {
  //background: url('/images/season3/map/jordan-map-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  height: calc(100vh - 90px);
  font-family: $elcubo3_font_subtitle;
  font-weight: normal;
  animation: fadeInAnimation ease 1s;

  @media screen and (max-width:960px) {
    height: calc(100vh - 55px);
  }

  @media screen and (max-width:1200px) and (orientation:landscape) {
    height: auto;
  }

  margin-top: 0px;
  padding: 0;
}

.MapImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: calc(100vh - 90px);

  @media screen and (max-width:960px) {
    height: calc(100vh - 55px);
  }

  @media screen and (max-width:1200px) and (orientation:landscape) {
    height: auto;
  }
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}