.MainMenu {
  width: 100%;
  position: relative;
  z-index: 10;
  height: 90px;
  background-color: rgba(0,0,0,1  );
  @include breakpoint-down('sm') {
   height: 55px;
  }
}

.MenuContent {
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-down('sm') {
    padding: 7px 30px;
  }
}

.logosContainer {
  padding-left: 0px;
  display: flex;
}

.separadorLogos {
  border-left: 1px solid white;
  height: 50px;
  margin: 4px 15px 0px 15px;
  @include breakpoint-down('sm') {
    display: none;
  }
}

.logoRTVCplay {
  height: auto;
  width: 190px;
  @include breakpoint-down('sm') {
    width: 95px;
    margin-top: 3px;
    margin-left: -5px;
  }
}


.LoginContainer {
  @include breakpoint-down('sm') {
    margin-right: 0;
  }
}