
.Play {
  position: relative;
}

.Content {
  display: flex;  
  align-items: center
}
.Controls {
  width: 60px;
}

.Wave {
  width: calc(100% - 60px);
}

.WaveContainer{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  animation-delay: 1s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    //transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.5;
   // transform: scale(1.1);
  }
  80%{
    opacity: 0.8;
    //transform: scale(0.89);
  }
  100%{
    opacity: 1;
    //transform: scale(1) translate3d(0,0,0);
  }
}