.HeaderInteractive {
    section {
        display: grid;
        max-width: 810px;
        @media only screen and (max-width: 920px) {
            max-width: 780px;
        }
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        .progressCircular {
            grid-template-columns: repeat(2, 1fr);
            .itemCircular {
                width: 50%;
                float: left;
                position: relative;
                div {
                    margin: auto;
                    margin-top: 30px;
                    text-align: center;
                    position: relative;
                    z-index: 1;
                }
                .bgProgress1 {
                    position: absolute;
                    z-index: 0;
                    left: -15px;
                    top: -5px;
                    @media only screen and (max-width: 768px) {
                        top: 10px;
                        width: 110%;
                    }
                }
                .bgProgress2 {
                    position: absolute;
                    z-index: 0;
                    left: 15px;
                    top: -35px;
                    @media only screen and (max-width: 768px) {
                        top: -15px;
                        width: 110%;
                    }
                }
                span {
                    width: 100%;
                    text-align: center;
                    float: left;
                    margin-top: 40px;
                    @media only screen and (max-width: 768px) {
                        margin-top: 14px;
                        font-size: 12px;
                    }
                }
            }
        }
        .progressNormal {
            p {
                font-size: 20px;
                @media only screen and (max-width: 768px) {
                    font-size: 16px;
                }
                span {
                    font-size: 13px;
                    @media only screen and (max-width: 768px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.LineTop {
    display: flex;
    max-width: 810px;
    margin: 40px auto 20px auto;
    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}