.progress {
  background: #D2D6EA;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
}

.progressValue {
  //animation: load 3s normal forwards;
  background: #EDC25F;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 68%;
  }
}