.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EndingCover {
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  //left: calc(50% - 420px);
  font-family: $elcubo3_font_title;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: $elcubo3_font_subtitle;
    font-size: 22px;
  }


  @media only screen and (max-width: 920px) and (orientation: landscape) {
    height: auto;
    overflow-y: scroll;

    h2 {
      font-size: 22px !important;
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 14px;
    }
  }

  .Ending {
    margin: 0 auto;
    max-width: 700px;
    padding: 60px;
    border-radius: 20px;
    color: white;

    h1,
    h2 {
      font-family: $elcubo3_font_title;
      font-weight: 100;
      margin: 10px;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 3vw;
      margin-bottom: 30px;
      line-height: 1.2;
    }

    .EndingContent {
      font-family: $elcubo3_font_subtitle;
      text-transform: uppercase;
      color: #EDC25F;
      padding-bottom: 10px;

      a {
        margin-top: 30px;
        text-decoration: none;
        cursor: pointer;
        color: #EDC25F;
        font-size: 22px;

        svg {
          position: absolute;
          transform: scale(0.7);
          padding-top: 7px;
          padding-left: 10px;

          path {
            stroke: #EDC25F;

          }
        }

        &:hover {
          color: white;

          svg {
            path {
              stroke: white;

            }
          }

        }
      }
    }
  }

}

.Back {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  color: white;
  cursor: pointer;

  svg {
    position: absolute;
  }

  span {
    float: left;
    padding-top: 14px;
    padding-left: 50px;
  }
}

.imgCharacter {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.iconDashboard {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}


.fadeIn {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

.container {
  width: 100% !important;
  height: 100vh !important;
  /* Center vertically */
  display: flex;
  align-items: top;
}

.containerCover {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.containerCover.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.child {
  width: calc(100%);
  height: calc(100vh);
  position: relative;
  top: 0;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  display: flex;
}


.fadeIn {
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}