.EndingCover {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  font-family: $elcubo2_font;
  overflow: hidden;
  @media only screen and (max-width: 920px) and (orientation: landscape) {
    height: auto;
    overflow-y: scroll;
  }
  .Ending {
    margin: 0 auto;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    .HeaderInteractive {
      max-width: 740px;
      .LineTop {
        max-width: 100%;
      }
    }
    .EndingContent {
      padding: 30px;
      background: rgba(61, 57, 54, 0.7);
      border-radius: 8px;
      section {
        max-width: 740px;
      }
      h3 {
        font-size: 23px;
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        @media only screen and (max-width: 920px) and (orientation: landscape) {
          font-size: 18px;
        }
      }
      button {
        width: 50%;
        font-size: 22px;
        font-family: $elcubo2_font;
        padding: 20px 0;
        border-radius: 8px;
        border: 0;
        background: rgba(31, 25, 21, 1);
        color: white;
        cursor: pointer;
        @media only screen and (max-width: 920px) and (orientation: landscape) {
          font-size: 16px;
        }
        &:hover {
          background: white;
          color: black;
        }
        &:last-child {
          background: transparent;
          &:hover {
            color: white;
            opacity: 0.7;
          }
        }
      }
    }
  }
  h1 {
    font-weight: 400;
    font-size: 46 px;
  }
}

.LineTop {
  display: flex;
  max-width: 740px;
  margin: 20px auto 20px auto;
  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.fadeIn {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}