.helpCover {
  position: absolute;
  max-width: 360px;
  top: 100px;
  right: 40px;
  z-index: 1;
  img {
    animation: slide 1s ease-in-out infinite;
    position: absolute;
    top: -70px;
    right: 55px;
  }
}
.toast_container {
  position: fixed;
  right: 30px;
  max-width: 360px;
  min-width: 280px;
  .toast {
    position: relative;
    max-width: 360px;
    min-width: 280px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
    }
    .t_text {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      color: #262626;
      font-weight: 400;
      font-size: 16px;
      @media only screen and (max-width: 920px) {
        font-size: 12px;
      }
      strong {
        font-weight: 600;
      }
      span {
        font-size: 1.2rem;
        padding: 0 10px 0 0;
      }
    }
    
    .t_close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 30px;
      width: 30px;
      left: -10px;
      top: -10px;
      padding: 0;
      margin: 0;
      background-color: #f1f1f1;
      &:hover {
        background-color: black;
        &:after,
        &:before  {
          background-color: white;
        }
      }
      border-radius: 50%;
      transform: rotate(45deg);
      cursor: pointer;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: #100000;
        border-radius: 3px;
      }
      &:after {
        width: 2px;
        height: 16px;
      }
      &:before {
        width: 16px;
        height: 2px;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.fadeIn {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}