.container {
  width: 100% !important;
  height: 100vh !important;
  /* Center vertically */
  display: flex;
  align-items: top;
  font-family: $elcubo2_font;
}

.containerCover {
  padding: 25px;
  background: #B8B8B8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.containerCover.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.child {
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
  position: relative;
  top: 0;
}

.copy {
  padding: 30px 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  h1 {
    font-size: 45px;
    font-weight: 500;
  }
  p {
    font-size: 24px;
    text-align: left;
  }
}

.copy h1 {
  font-size: 45px;
  letter-spacing: -0.26px;
}

.copy h1 {
  font-size: 45px;
  letter-spacing: -0.26px;
}

.copy h1,
.copy p {
  margin: 0;
}

.button {
  color: white;
  font-style: italic;
  text-decoration: unset;
  margin-top: 30px;
  background: transparent;
  border: 0;
}

.t_close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  height: 60px;
  width: 60px;
  right: 10px;
  top: 10px;
  padding: 0;
  margin: 0;
  transform: rotate(45deg);
  cursor: pointer;
}

.t_close:after,
.t_close:before {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 3px;
}

.t_close:after {
  width: 2px;
  height: 32px;
}

.t_close:before {
  width: 32px;
  height: 2px;
}

.trigger {
  font-size: 18px;
  font-style: italic;
  font-family: $elcubo2_font;
}

.fadeIn {
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
