.SlidersContainer {
  //overflow-x: hidden;
  padding: 0;
  margin: 0;
  /*overflow-y: scroll;
  scroll-behavior: smooth;*/
  margin-top: -5px;
}

.VideoContainer {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;

  @media screen and (max-width: 1024px) and (orientation: landscape) {
    height: 100vh;
  }

}

.LogoTeaser {
  position: absolute;
  left: 30px;
  top: 25px;
  z-index: 11;

  img {
    width: 120px;
  }
}

.ButtonTeaser {
  position: absolute;
  bottom: 10%;
  right: 0;
  margin-right: 30px;
  padding-right: 25px;
  text-decoration: none;
  background-image: url("/images/season3/icon-play-teaser-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 13px;
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  line-height: 130%;
  display: flex;

  span {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    margin-right: 0px;
    margin-top: 12px;
  }

  img {
    width: 40px;
  }
}

.Images {
  width: 100vw;
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
}

.Images:nth-child(1) {
  background-image: url("/images/season3/slider/mobile/home_mobile_slider_01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: calc(70vh - 55px);

  @media screen and (max-width: 1024px) and (orientation: landscape) {
    height: 100vh;
  }

  .ButtonContainerTop {
    text-align: center;
    margin-top: 30px;
    padding: 0 30px;

    a {
      font-size: 20px;
      padding: 15px 75px 15px 75px;
    }
  }

  .TextContent {
    padding: 30px;
    color: #3C2807;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 27px;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 0;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .IconArrowBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
}

.Images:nth-child(2) {
  background-image: url("/images/season3/slider/mobile/home_mobile_slider_02.png");
  /*background-attachment: scroll;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //position: fixed;
  z-index: 1;

  .TextContent {
    color: #0E290E;
    padding: 70px 30px;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 27px;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 120%;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .IconArrowBottom {
    position: relative;
    top: 39rem;
    left: 11rem;
  }
}

.Images:nth-child(3) {
  background-image: url("/images/season3/slider/mobile/home_mobile_slider_03.png");
  //background-attachment: scroll;
  //position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  z-index: 0;

  .TextContent {
    color: #0E290E;
    padding: 70px 30px;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 27px;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 120%;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .ButtonContainerBottom {

    text-align: center;
    margin-top: 30vh;
    padding: 0 30px;

    @media screen and (max-width: 1024px) and (orientation: landscape) {
      margin-top: 0;
    }

    h2 {
      font-family: $elcubo3_font_title;
      font-size: 20px;
      margin-bottom: 30px;
      text-shadow: 1px 1px 10px black;
    }

    a {
      font-size: 20px;
      padding: 15px 75px 15px 75px;
    }
  }

}