.Images {
  width: 100vw;
  //height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -4px;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .imgPortrait {
    display: none;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .imgLandscape {
    display: none;
  }
}

.Images:nth-child(1) {

  img {
    width: 100%;
  }

  .SliderContent {
    position: absolute;
    top: 0;
  }



  .ButtonContainerTop {
    text-align: center;
    margin-top: 40px;
    padding: 0 30px;

    @media screen and (max-width: 540px) and (orientation: portrait) {
      button {
        width: 100%;
      }
    }

    a {
      font-size: 20px;
      padding: 15px 75px 15px 75px;
    }
  }

  .TextContent {
    padding: 30px;
    color: #3C2807;

    @media screen and (max-width: 1024px) and (orientation: landscape) {
      padding: 20%;
    }

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 6.6vw;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 0;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .IconArrowBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
}

.Images:nth-child(2) {

  img {
    width: 100%;
  }

  .SliderContent {
    position: absolute;
    top: 0;
  }

  .TextContent {
    color: #0E290E;
    padding: 70px 30px;

    @media screen and (max-width: 1024px) and (orientation: landscape) {
      padding: 20%;
    }

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 6.6vw;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 120%;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .IconArrowBottom {
    position: relative;
    top: 39rem;
    left: 11rem;
  }
}

.Images:nth-child(3) {
  img {
    width: 100%;
  }

  .imgLandscape:nth-child(2) {
    float: left;
    margin-top: -4px;
  }

  .SliderContent {
    position: absolute;
    top: 0;
  }

  .TextContent {
    color: #0E290E;
    padding: 70px 30px;

    @media screen and (max-width: 1024px) and (orientation: landscape) {
      padding: 20%;
    }

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 6.6vw;
      line-height: 120%;
      margin: 0
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 22px !important;
      line-height: 120%;
      font-weight: initial;
      margin: 5px 0 0 0;
    }
  }

  .ButtonContainerBottom {

    position: absolute;
    bottom: 100px;

    text-align: center;


    @media screen and (max-width: 1024px) and (orientation: landscape) {
      margin-top: 0;
      padding: 20%;
    }

    h2 {
      font-family: $elcubo3_font_title;
      font-size: 20px;
      margin-bottom: 30px;
      padding: 30px;
      text-shadow: 1px 1px 10px black;
    }

    a {
      font-size: 20px;
      padding: 15px 0px 15px 0px;
      width: 100%;
    }
  }

}

.Credits {
  margin-top: -4px;
}


.buttonPulse {
  width: 82%;
  margin: auto;
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 rgb(99, 81, 8);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
}