.SlidersContainer {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.VideoContainer {
  background-image: url("/images/season3/steals/0-home-steal-desktop.jpg");
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.45));
}

.Images {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Images:nth-child(1) {
  height: 176vh;
  background-image: url("/images/season3/slider/home_slider_01.jpg");
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .TextContent {
    color: #3C2807;
    width: 685px;
    position: relative;
    top: 30%;
    left: 18%;
    transition: opacity 1.5s;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 60px;
      line-height: 110%;
      padding: 0;
      margin: 10px 0 0 0;
    }
    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 40px !important;
      line-height: 135%;
      font-weight: initial;
      margin: 10px 0 0 0;
      padding: 0;
    }
  }
}

.Images:nth-child(2) {
  height: 109vh;
  background-image: url("/images/season3/slider/home_slider_02.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .TextContent {
    color: #3C2807;
    width: 600px;
    position: relative;
    right: 20%;
    top: 5%;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 60px;
      line-height: 110%;
      padding: 0;
      margin: 10px 0 0 0;
    }
    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 40px !important;
      line-height: 135%;
      font-weight: initial;
      margin: 10px 0 0 0;
      padding: 0;
    }
  }
}

.Images:nth-child(3) {
  height: 270vh;
  background-image: url("/images/season3/slider/home_slider_03.jpg");
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;

  .TextContent {
    color: #3C2807;
    width: 200px;
    position: relative;
    width: 700px;
    left: 55%;
    top: 15%;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 60px;
      line-height: 110%;
      padding: 0;
      margin: 10px 0 0 0;
    }
    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 40px !important;
      line-height: 135%;
      font-weight: initial;
      margin: 10px 0 0 0;
      padding: 0;
    }
  }

  .ButtonContainerBottom {
    position: relative;
    top: 67%;
    text-align: center;
  }
}


.VideoContainer {
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 999;
  background-color: gray;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: top 0.2s ,transform 0.8s;

  .LogoTeaser {
    position: relative;
    top: 37rem;
    left: 5rem;
    transition: top 1s;
  }
}


