.CardContent1 {
  width: 380px;
  height: 155px;
  background-color: #6B5F43;
  position: absolute;
  z-index: 2;
  top: 170px;
  left: 340px;
  font-family: $elcubo3_font_subtitle;
  font-weight: normal;
  opacity: 0;
  animation-delay: 14000ms;
  //-webkit-animation: fadeOut 2s;
  //animation: fadeOut 2s;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  .TextContent {
    padding: 4px; 
    text-align: left;
    padding-left: 25px;

    h1 {
      font-family: $elcubo3_font_subtitle;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 26px;
    }

    p {
      font-size: 16px;
      margin-bottom: 14px;
      font-weight: 300;
    }
  }
  
  .ButtonNext {
    background-color: transparent;
    border: none;
    display: flex;
    width: 120px;
    justify-items: flex-end;
    margin-left: 240px;
    margin-top: 8px;
    cursor: pointer;

    span {
      font-family: $elcubo3_font_subtitle;
      font-size: 20px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      justify-content: center;
      margin-right: 10px;
    }
    svg {
      margin-top: 3px;
    }
  }
}

.CardContent2 {
  width: 380px;
  height: 180px;
  background-color: #6B5F43;
  position: absolute;
  z-index: 2;
  top: 170px;
  left: 340px;
  font-family: $elcubo3_font_subtitle;
  font-weight: normal;
  animation: fadeInAnimation ease 2s;
  //animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .TextContent {
    padding: 4px; 
    text-align: left;
    padding-left: 25px;

    h1 {
      font-family: $elcubo3_font_subtitle;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 26px;
    }

    p {
      font-size: 16px;
      margin-bottom: 14px;
      margin-right: 40px;
      font-weight: 300;
    }
  }
  
  .ButtonsContent {
    display: flex;

    .ButtonPrevious {
      background-color: transparent;
      border: none;
      display: flex;
      width: 120px;
      justify-items: flex-end;
      margin-left: 100px;
      margin-top: 10px;
      cursor: pointer;

      span {
        font-family: $elcubo3_font_subtitle;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        margin-left: 5px;
      }

      .Next {
        margin-left: 25px;
      }

      svg {
        margin-top: 3px;
      }
    }

    .ButtonNext {
      background-color: transparent;
      border: none;
      display: flex;
      width: 120px;
      justify-items: flex-end;
      margin-left: 15px;
      margin-top: 10px;
      cursor: pointer;

      span {
        font-family: $elcubo3_font_subtitle;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        margin-right: 10px;
      }

      .Next {
        margin-left: 25px;
      }

      svg {
        margin-top: 3px;
      }
    }
  }
}

.CardContent3 {
  width: 380px;
  height: 570px;
  background-color: #6B5F43;
  position: absolute;
  z-index: 2;
  top: 170px;
  left: 340px;
  font-family: $elcubo3_font_subtitle;
  font-weight: normal;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .TextContent {
    padding: 4px; 
    text-align: left;
    padding-left: 25px;

    h1 {
      font-family: $elcubo3_font_subtitle;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 26px;margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin: 0 35px 0 0;
      font-weight: 300;
    }
  }
  
  .ButtonsContent {
    display: flex;

    .ButtonPrevious {
      background-color: transparent;
      border: none;
      display: flex;
      width: 120px;
      justify-items: flex-end;
      margin-left: 70px;
      margin-top: 45px;
      cursor: pointer;

      span {
        font-family: $elcubo3_font_subtitle;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        margin-left: 5px;
      }

      .Next {
        margin-left: 25px;
      }

      svg {
        margin-top: 3px;
      }
    }

    .ButtonNext {
      background-color: transparent;
      border: none;
      display: flex;
      width: 120px;
      justify-items: flex-end;
      margin-left: 20px;
      margin-top: 34px;
      background-color: #402A04;
      width: 140px;
      height: 45px;
      cursor: pointer;

      span {
        font-family: $elcubo3_font_subtitle;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        margin-top: 11px;
        margin-left: 13px;
        margin-right: 6px;
      }

      .Next {
        margin-left: 25px;
      }

      svg {
        margin-top: 14px;
      }
    }
  }
}

.CloseIconCards{
  position: relative;
  z-index: 2;
  left: 280px;
  top: 170px;
  cursor: pointer;
  opacity: 0;
  animation-delay: 14000ms;
  //-webkit-animation: fadeOut 2s;
  //animation: fadeOut 2s;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}