.CreditsContainer {
  padding: 0;
  margin: 0;
  margin-top: -43px;
  margin-bottom: -5px;
  height: 100%;
  width: 100%;
  background-image: url("/images/season3/slider/home_slider_04.jpg");
}


.Credits {
  padding: 0 100px;
  margin: auto;
  font-family: $elcubo3_font_subtitle;
  font-weight: 300;
  @media (max-width: 1113px) {
    padding: 0 50px;
  }
  @media (max-width: 768px) {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  em {
    color: #949494;
    font-style: normal;
  }
}

.CreditsContent {
  transition: max-height 1s ease;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  div {
    margin-bottom: 50px;
  }
  ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    li {
      font-size: 19px;
      margin-top: 10px;
      a {
        color: white;
        svg {
          margin-left: 5px;
        }
      }
      img {
        display: block;
        clear: both;
        margin-top: 7px;
      }
    }
  }
}

.CreditsContent {
  @media only screen and (max-width: 480px) {
    column-count: 1;
  }
  @media only screen and (min-width: 481px) and (max-width: 620px) {
    column-count: 2;
  }
  @media only screen and (min-width: 621px) and (max-width: 1023px) {
    column-count: 3;
  }
  @media only screen and (min-width: 1024px) {
    column-count: 3;
    column-gap: 100px;
  }
  column-gap: 50px;
  div {
    display: inline-block;
  }
}





