.NodeContainer {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.iMessage {
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  width: 600px;
  text-align: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.Video2level {
  position: absolute;
  top: 200px;
}

.Gallery2level {
  position: absolute;
  top: 230px;
}

.Audio2level {
  position: absolute;
  top: 260px;
}

.Slide2level {
  position: absolute;
  top: 290px;
}

.activeTrigger {
  position: absolute;
  top: 320px;
}

/*
.coverVideo video,
.coverVideo .plyr__controls {
  transition: margin 700ms;
  margin-top: 0;
}
.activeInteractive video,
.activeInteractive .plyr__controls {
  margin-top: -80px;
}*/

// Hide controls
.activeInteractive div div div:nth-child(1),
.activeInteractive div div div:nth-child(2) {
  display: none;
}

.coverInactiveVideo {
  display: none;
}



.steal {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.steal {
  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: zoomOut 60s infinite;
  }

  @media only screen and (max-width: 960px) {
    img.stealDesktop {
      display: none;
    }

    img.stealMobile {
      display: block;
    }
  }

  @media only screen and (min-width: 960px) {
    img.stealMobile {
      display: none;
    }

    img.stealDesktop {
      display: block;
    }
  }

}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}