.SlidersContainer {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.ImagesDesktop {
  position: relative;
}

.VideoContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #898069;
  z-index: 2;

  button {
    position: absolute;
    bottom: 80px;
    right: 50px;
    z-index: 10;
  }
}

.ImgBG0,
.ImgBG1,
.ImgBG3 {
  width: 100%;
}

.ImgBG3 {
  margin-top: -4px;
}



.TextContent {
  padding: 0 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #3C2807;
  position: absolute;
  top: 0;

  article {
    width: 50%;

    h1 {
      font-family: $elcubo3_font_title;
      font-size: 3.6vw;
      line-height: 110%;
      padding: 0;
      margin: 10px 0 0 0;
    }

    p {
      font-family: $elcubo3_font_subtitle;
      font-size: 1.8vw !important;
      line-height: 130%;
      margin: 20px 0 0 0;
      padding: 0;

      strong {
        font-weight: 600;
        font-size: 1.8vw
      }
    }
  }
}


.TextContentRight {
  justify-content: flex-end;
}

.TextContentLeft {
  justify-content: flex-start;
}


.ImagesDesktop:nth-child(1) {
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -4px;
  background-size: cover;
  bottom: 0;
  z-index: 0;

  .TextContent {
    color: #402A04;
    z-index: 1;
  }
}

.ImagesDesktop:nth-child(2) {
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -4px;
  background-size: cover;
  bottom: 0;
  z-index: 0;

  .TextContent {
    color: rgba(21, 57, 22, 1);
    z-index: 1;
  }
}


.ImagesDesktop:nth-child(3) {
  background-size: cover;
  background: black;
  top: 0;
  z-index: 0;

  .TextContent {
    color: rgba(22, 52, 56, 1);
    z-index: 1;

    article {
      width: 41%;
    }

    p {
      width: 100%;
    }
  }
}

.ImagesDesktop:nth-child(4) {
  margin-top: -4px;
}

.ButtonContainerBottom {
  display: flex;
  position: relative;
  justify-content: center;

  .ButtonContainerContent {
    position: absolute;
    bottom: 0%;
    margin-bottom: 220px;
    z-index: 10;
    text-align: center;

    h2 {
      font-family: $elcubo3_font_title;
      font-size: 2.2vw;
      line-height: 110%;
      padding: 0;
      margin-bottom: 60px;
    }
  }
}


.ContentResizable {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2 s linear;
  margin-top: 0;
  transform: scale(1, 1);
}

.active {
  margin-top: 90px;
  transform: scale(.89, .89);

  top: 0;
  width: 100%;
}

.buttonPulse {
  width: 216px;
  margin: auto;
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 rgb(99, 81, 8);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }
}