.selectorPageContainer {
  cursor: auto;
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: $elcubo2_bg;
  color: $white;
  background: url(/images/season2/bg-selector-hilos.jpg) top center no-repeat black;
  position: relative;
  @media screen and (max-width: 768px) {
    min-height: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 580px) {
    min-height: 60vh;
    overflow: hidden;
  }
}

.selectorContent {
  display: flex;
  background: url(/images/season2/bg-mode.jpg) top center no-repeat;
  background-size: 100%;
  max-width: 1100px;
  height: 600px;
  margin: auto;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  align-self: flex-end;
}

.imgMainMobile {
  display: none;
}

.cardsCover {
  display: block;
  max-width: 1200px;
  min-height: 300px;
  margin: auto auto 0px auto;
  background: url(/images/season2/bg-selector-divisor.png) center no-repeat;
  position: relative;
}

.cardsContainer {
  display: grid;
  max-width: 1100px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  font-family: $elcubo2_font;
  .imageText {
    div.cardContent {
      padding: 45px;
      h1 {
        margin: 0;
        margin-top: 10px;
        font-size: 40px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }
  }
}

.buttonBig {
  display: block;
  text-align: center;
  margin: auto;
  a {
    float: left;
    @media screen and (max-width: 1113px) {
      min-width: 200px;
    }
  }
}

.buttons1columns {
  display: flex;
  .buttonBig {
    button {
      width: 280px;
    }
    a {
      width: 280px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.buttons2Columns {
  display: flex;
  gap: 12px;
  .buttonBig {
    width: 50%;
    margin: 0;
    button {
      font-size: 18px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    a {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  .buttonBig:nth-child(2) {
    width: 50%;
    a {
      min-width: 0;
      width: 100%;
      font-size: 18px;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .cardsCover {
    min-height: 0;
  }
  .cardsContainer {
    max-width: 100%;
  }
  .imageText {
    div.cardContent {
      h1 {
        font-size: 30px !important;
      }
      .buttonBig {
        button {
          font-size: 15px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
        a {
          font-size: 15px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
  .buttonBig {
    padding: 0 !important;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .selectorPageContainer {
    padding-bottom: 0;
  }
  .selectorContent {
    height: 90vh;
  }
  .cardsCover {
    margin: 0 auto;
  }
}

@media screen and (max-width: 769px) {
  .cardsCover {
    margin: auto;
  }
  .cardsContainer {
    padding-left: 40px;
    padding-right: 40px;
    column-gap: 60px;
    article {
      margin-bottom: 40px;
      p {
        font-size: 12px !important;
        margin-bottom: 20px !important;
      }
    }
    .imageText div {
      padding: 0 !important;
    }
  }
  .imageText {
    div.cardContent {
      h1 {
        font-size: 22px !important;
      }
      .buttonBig {
        width: 100%;
        button {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        a {
          width: 100%;
        }
      }
    }
  }
  .buttons2Columns {
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .selectorPageContainer {
    padding-bottom: 0;
  }
  .selectorContent {
    background: url(/images/season2/bg-mode-mobile.jpg) top center no-repeat;
  }
  .cardsContainer {
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 40px;
    margin-top: 150px;
    article {
      .imageText {
        div.cardContent {
          padding: 45px;
          h1 {
            font-size: 16px !important;
          }
        }
      }
      p {
        font-size: 11px !important;
        margin-bottom: 20px !important;
        hyphens: auto;
      }
      .buttonBig {
        a {
          min-width: 0;
          font-size: 11px;
          width: 100%;
        }
      }
    }
  }
  .buttonBig {
    a {
      font-size: 11px;
    }
  }
}

.fadeIn {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}