.DescriptionCover {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: -300px;
  padding-top: 100px;
  min-height: 1100px;
  background: url(/images/season2/periodico.png) center -120px no-repeat;
  @media (max-width: 580px) {
    min-height: 0px;
  }
  @media (max-width: 768px) {
    background: none;
    margin-top: -60px;
    padding-top: 0px;
  }
  @media (max-width: 960px) {
    margin-top: -100px;
  }
  @media (max-width: 1113px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.Description {
  max-width: 1113px;
  width: 100%;
  margin: 0 auto;
  section {
    display: grid;
  }
}

.DescriptionLogo {
  width: 42%;
  float: left;
  img {
    margin-top: 22px;
    width: 100%;
  }
  @media (max-width: 580px) {
    width: 100%;
  }
}

.DescriptionParagraph {
  width: 42%;
  float: left;
  p {
    margin: 0;
    padding: 25px 30px;
    margin-top: 0px;
    @media (max-width: 768px) {
      padding: 10px 25px;
      font-size: 14px;
    }
    @media (max-width: 580px) {
      padding: 10px 0;
    }
  }
  @media (max-width: 580px) {
    width: 100%;
  }
}

.DescriptionSeason1 {
  float: right;
  width: 16%;
  @media (max-width: 580px) {
    display: none;
  }
  a {
    position: relative;
    &:hover img {
      box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 25px;
    }
  }
  img {
    margin-top: 14px;
    width: 100%;
    border-radius: 5px;
  }
  h3 {
    color: white;
    position: absolute;
    bottom: 2px;
    z-index: 2;
    text-align: center;
    width: 100%;
  }
}

.DescriptionContent {
  display: flex;
  @media (max-width: 580px) {
    display: none;
  }
  .DescriptionText {
    width: 46%;
    .Hilos1 {
      margin-top: 20px;
      margin-left: 40px;
      @media (max-width: 580px) {
        position: absolute;
      }
    }
    p {
      margin: 0;
      font-size: 30px;
      padding-right: 30px;
    }
  }
  .DescriptionPhotoSeason2 {
    width: 64%;
    margin-left: auto;
    position: relative;
    @media (max-width: 580px) {
      width: 100%;
    }
    @media (max-width: 580px) {
      h2 {
        font-size: 14px;
      }
    }
    .Hilos2 {
      position: absolute;
      left: -330px;
      top: -35px;
    }
    .ImgPhotoSeason2,
    h2,
    p {
      padding-left: 30px;
      width: calc(100% - 30px);
      margin: 0;
    }
    .ImgPhotoSeason2 {
      margin-top: 80px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
      @media (max-width: 580px) {
        padding: 0;
        margin-bottom: 60px;
      }
    }
    p {
      font-size: 14px;
      font-weight: normal;
      margin-top: 20px;
    }
  }
}

.ImgDivisor {
  @media (max-width: 580px) {
    display: none;
  }
}

.DescriptionContentMobile {
  display: block;
  @media (min-width: 580px) {
    display: none;
  }
  .ImgPhotoSeason2 {
    width: 100%;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
  }
}