.Video {
  width: 100%;
  position: relative;
  z-index: 10;
}

.Footer {
  .FooterContent {
    position: relative;
    z-index: 10;
    width: 100%;

    button {
      position: absolute;
      right: 80px;
      top: 70px;
      border: 0;
      background: transparent;
      cursor: pointer;

      @media (max-width: 920px) {
        right: 30px;
        top: 20px;
      }
    }
  }
}


#boton:hover {
  opacity: 0.6;
}

#boton.muted {
  color: white;
}

#boton.muted #empty {
  display: none;
}

#boton.muted #full {
  display: block;
}

#boton #full {
  display: none;
}

.Footer {
  //background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, #000000 100%);
  //mix-blend-mode: luminosity;
  position: absolute;
  width: 100%;
  top: 0;
}

.fadeIn {
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}